/languagetool-language-modules/ar/src/main/java/org/languagetool/tagging/ar/ArabicTagger.java~HEAD
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/hunspell/arb.txt
/languagetool-standalone/scripts/]
/regression-test-output.log
/run.sh
/tests/tests
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/agid-readme.txt
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/filter_out.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/get_all_english_cardinal.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/get_unc.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/make-dict-en.sh
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/partlycountable.txt
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/pos-readme.txt
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/remap.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/synteza.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/tags.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/test_dict.awk
/languagetool-language-modules/ar/src/main/resources/org/languagetool/resource/ar/archiv/uncountable.txt
*~
*sw?
*.iml
*.bak
.class
.classpath
.idea
.ignore
.project
.settings
.metadata
build
target
atomFeedChecksDB
derby.log
.surefire-*
pom.xml.versionsBackup
pom.xml.asc
